<h6 class="mt-4 pl-0 text-left" *ngIf="account_display">{{heading}}</h6>
<div *ngIf="account_display">
  <div *ngIf="account_display">
    <div class="justify-content-center col-sm-12 p-0 row ml-0 mr-0 mt-1">
      <div class="child col-sm-4 pl-0 mb-3" *ngIf="child_display" >
        <div class="backgroundVisual pl-2 pr-2 pt-4 pb-4 row m-0" >
          <div class="col-sm-6 pr-0">
            <div class="imgg text-center text-white" style="max-width:150px">
              <img src="../../assets/pic/baby.png" />
            </div>
          </div>
          <div class="col-sm-6 pt-1">
            <h6 class="mb-2">Child Account/s</h6>
            <h2 class="mb-0 text-left"> &nbsp; 0{{child}}</h2>
            <img src="../../assets/pic/quality.png" style="margin:auto"/>
          </div>
        </div>
      </div>
      <div class="col-sm-3 pl-0 mb-3" *ngFor="let amt of account; let i = index">
        <div class="backgroundVisual pl-3 pr-3 pt-4 pb-4">
          <h2 class="text-left mb-0">{{amt.total}}</h2>
          <h6 class="mb-2">{{amt.name}}</h6>
          <div class="col-sm-12 p-0 row m-0">
            <div class="col-sm-10 pl-0 pr-1">
              <div class="progress">
                <div class="progress-bar approved" role="progressbar" [style.width]="amt.per1 +'%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <h6 class="text-success mb-3"><small>Claimed: {{amt.per1}}%</small></h6>
            </div>
            <div class="col-sm-10 pl-0 pr-0">
              <div class="progress">
                <div class="progress-bar failed" role="progressbar" [style.width]="amt.per2 +'%'" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <h6 class="text-danger mb-0"><small>Unclaimed: {{amt.per2}}%</small></h6>
              <!-- <br class="mb-0"> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="justify-content-center col-sm-12 pl-0">
    <div class="asset float-left col-sm-6 pl-0 mt-1 mb-3" *ngIf="share_asset_display" style="padding-right:7px;">
      <div class="backgroundVisual p-2 row m-0">
        <div class="col-sm-3 pt-3 pb-3">
          <div class="imgg text-center text-white" >
            <img src="../../assets/pic/document.png" />
            <h5 class="mb-0">Assets</h5>
            <h6 class="mb-2">{{shared}}</h6>
          </div>
        </div>
        <div class="col-sm-9 pl-5 pr-0">
          <div style="height:200px;overflow-y:auto" echarts [options]="option1" class="demo-chart"></div>
        </div>
      </div>
    </div>
    <div class="receive float-left col-sm-6 pr-0 mt-1 mb-3" *ngIf="receive_asset_display" style="padding-left:7px;" >
      <div class="backgroundVisual p-2 row m-0">
        <div class="col-sm-3 pt-3 pb-3">
          <div class="imgg text-center text-white" >
            <img src="../../assets/pic/files.png" />
            <h5 class="mb-0">Receive Assets</h5>
            <h6 class="mb-2">{{received}}</h6>
          </div>
        </div>
        <div class="col-sm-8 ml-4 pr-0 pt-4" style="top:-25px">

            <div style="height:200px;overflow-y:auto" echarts [options]="option2" class="demo-chart"></div>
            <!-- <canvas style="height:150px; overflow-y:auto" baseChart
                    [datasets]="received_graph.barChartData"
                    [labels]="received_graph.barChartLabels"
                    [options]="received_graph.barChartOptions"
                    [legend]="received_graph.barChartLegend"
                    [chartType]="received_graph.barChartType"
                    [colors] = "received_graph.lineChartColors"
                    >
            </canvas> -->

        </div>
      </div>
    </div>
  </div>

  <!-- <div class="justify-content-center">

  </div> -->

  <div class="child float-left col-sm-8 pl-0 pr-0 mt-1 mb-3" *ngIf="graph1_display" >
    <div class="col-sm-12 p-0">
      <div class="backgroundVisual p-2 row m-0">
        graph1_display = {{graph1_display}}
        <div>
          <div style="display: block">
            <canvas baseChart
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div *ngIf="!showRefresh" >
  <div class="text-center">
    <h3> Please Refresh! </h3>
  </div>
</div> -->
