$inputW: 260px;
$btnH: 36px;
input, button {
	border: none;
	outline: none;
	background: none;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
label {
	display: block;
	width: $inputW;
	margin: 25px auto 0;
	text-align: center;
	span {
		font-size: 12px;
		color: #cfcfcf;
		text-transform: uppercase;
	}
}
input {
	display: inline-block;
    width: 70%;
	font-size: 13px;
}