
/* .backgroundVisual{
  background:rgba(247,247,247,0.2);
  border-radius:15px;
  box-shadow:3px 2px 15px 0px #ccc;
  border-color:#5867c5;
  box-sizing:border-box;
  border:1px solid #5867c5;
  z-index:9999;
} 
.submit {
	display: block;
	margin: 0 auto;
	width: $inputW;
	height: $btnH;
	border-radius: 30px;
	font-size: 15px;
	cursor: pointer;
	margin-top: 40px;
	margin-bottom: 20px;
	background: #5867c5;
	color: white !important;
	text-transform: uppercase;
}
*/