$inputW: 62%;
$btnH: 36px;

input, button {
	border : none;
	outline : none;
	background : none;
	font-family : 'Open Sans', Helvetica, Arial, sans-serif;
}
label {
	display: block;
    width: $inputW;
    margin: 25px auto 0;
	text-align: center;
	span {
		text-transform: uppercase;
	}
}
select {
    width: $inputW + 38%;
	margin-left: 5px;
	margin-top: 4px;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid rgba(0,0,0,0.4);
	background: transparent;
}