table.display th {
    height:30px;
    line-height:30px;
}
table.display tr {
    height:30px;
    line-height:30px;
    border-color: #aaa !important;
    opacity: 0.8;
    min-width: 100%;
}
table.display tbody tr:nth-child(odd){
    background:#eaeaea;
}
table.display tbody tr:nth-child(even){
    background:#fff;
}
table.display tr:hover {
    opacity: 1;
    cursor: pointer;
}
th.fix-2, td.fix-2 {
    max-width:180px !important;
    min-width:180px !important;
    width:180px !important;
    padding: 8px 3px;
}
td div {
    width: 100%;
    max-width: 165px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    max-height: 18px;
    line-height: 18px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 13px;
}
.ovf-x {
    overflow: hidden;
    overflow-x: auto;
    overflow-y: auto;
}

th.fix, td.fix{
    width:4% !important;
    max-width:4% !important;
    min-width:4% !important;
}
.min-height {
    height: 340px;
    thead{
        z-index: 11;
        min-width: 100%;
        width: 100%;
        background: #fff;
        border-bottom: 1px solid #135;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
    tbody{
        width: 100%;
        min-width: 100%;
        // top: 52px;
        // height: 290px;
    }
}