<div class="container" *ngIf="showTable">
  <br>
  <button class="btn btn-primary" type="submit" (click)='createNew()' style="margin-left:0px">+ Create</button>
  <br><br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col"  *ngFor="let head of tableArray.header ">{{head}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of tableArray.data; let i = index " (click)="getSummary(i)">

        <th scope="row">{{i+1}}</th>
        <td *ngFor="let head of tableArray.header; let m = index">{{dataService(row,m)}}</td>

      </tr>
    </tbody>
  </table>
</div>
