<h6 class="mt-4 mb-0 p-0 text-left" *ngIf="showSummary">Summary</h6>
<div class="container closed mt-2 backgroundVisual summary" *ngIf="showSummary" style="overflow-x: auto">
    <div class="row m-1" >
        <div class="col-sm-12 pr-0 text-right">
            <button type="button" class="submit d-inline-block" *ngIf="showViewAll" (click)="viewAll()">View All</button>
            <button type="button" class="submit d-inline-block" (click)='createNewShareForm()' *ngIf="shareWithAddress">+ Share</button>
            <!-- <br /><br /> -->
        </div>
        <div class="col-sm-12 row mb-2 dyn" *ngFor="let he of header; let m = index ">
            <div class="col-sm-4 p-0" ><strong>{{he}}</strong></div>
            <div class="col-sm-8 p-0">{{dataService(m)}}</div>
        </div>
    </div>
</div>
<br/><br/>
