.container {
    max-width: 100%;
}
$inputW: 260px;
$btnH: 36px;
label {
	display: block;
	width: $inputW;
	margin: 25px auto 0;
	text-align: center;
	span {
		text-transform: uppercase;
	}
}
select {
    width: 150px;
	margin-left:15px;
	height: 26px;
	line-height: 26px;
}
.ovf-y, .cont {
	height: 520px;
}
.img__btn:after{
	border: none;
}/* 
$inputW: 260px;
$btnH: 36px;

.backgroundVisual{
  background:rgba(247,247,247,0.2);
  border-radius:15px;
  box-shadow:3px 2px 15px 0px #ccc;
  border-color:#5867c5;
  box-sizing:border-box;
  border:1px solid #5867c5;
  z-index:9999;
}
input, button {
	border: none;
	outline: none;
	background: none;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
h2 {
	width: 100%;
	font-size: 26px;
	text-align: center;
}
input {
	display: block;
	width: 100%;
	margin-top: 5px;
	padding-bottom: 5px;
	font-size: 16px;
	border-bottom: 1px solid rgba(0,0,0,0.4);
	text-align: center;
}
.submit {
	display: block;
	margin: 0 auto;
	width: $inputW;
	height: $btnH;
	border-radius: 30px;
	font-size: 15px;
	cursor: pointer;
	margin-top: 40px;
	margin-bottom: 20px;
	background: #5867c5;
	color: white !important;
	text-transform: uppercase;
} */
.sub-cont{
	left: 66%;
}