<div class="container mt-3 col-sm-12"><!-- closed -->
  <div class="row m-1">
    <div class="col-lg-12 col-lg-offset-2 pl-0 pr-0 mt-0">
      <div class="cont mt-5">
        <div class="form sign-in" *ngIf="!otp_view">
          <a href="" (click)="refresh()">Go back</a>
          <br /><br />
          <label>
            <span>Email</span>
            <input type="email" [(ngModel)]="email" name="email" autocomplete="off" />
          </label>
          <label>
            <span>Phone</span>
            <input type="text" [(ngModel)]="phone_number" name="phone" autocomplete="off" />
          </label>
        </div>
        <div class="form sign-in ovf-y" *ngIf="otp_view">
          <a href="" (click)="refresh()">Go back</a>
          <br /><br />
          <label>
            <span>OTP Number</span>
            <input type="text" [(ngModel)]="otp_mobile" name="email" autocomplete="off" />
          </label>
          <label>
            <span>OTP email</span>
            <input type="text" [(ngModel)]="otp_email" name="email" autocomplete="off" />
          </label>
          <label>
            <span>Organisation Name</span>
            <input type="text" [(ngModel)]="org_name" name="org" autocomplete="off" />
          </label>
          <label>
            <span>Email</span>
            <input type="email" [(ngModel)]="email" name="email" autocomplete="off" disabled />
          </label>
          <label>
            <span>Phone No.</span>
            <input type="text" [(ngModel)]="phone_number" name="phone" autocomplete="off" disabled  />
          </label>
          <label>
            <span>Pancard</span>
            <input type="text" [(ngModel)]="pancard" name="pan" autocomplete="off" />
          </label>
          <label>
            <span>GST No.</span>
            <input type="Text" [(ngModel)]="gst_number" name="gst" autocomplete="off" />
          </label>
          <label>
            <span>TAN No.</span>
            <input type="text" [(ngModel)]="tan_number" name="tan" autocomplete="off" />
          </label>
          <label>
            <span>Password</span>
            <input type="text" [(ngModel)]="password" name="password" autocomplete="off" />
          </label>          
        </div>
        <div class="sub-cont">
          <div class="img">
            <div class="img__text m--up"><br /><br />
              <h2 style="background:none;color:#f0f0f0;">Claim account ?</h2>
              <p style="background:none;color:#f0f0f0;">Claim account and discover great amount of new opportunities!</p>
              <br />
              <br />
              <br />
            </div>
            <br />
            <div class="img__btn mt-5" (click)="sendOTP()" *ngIf="!otp_view">
              <button type="button" class="submit text-white mt-0 mb-0">Enter</button>
            </div>
            <div class="img__btn mt-5" (click)="submit_OTP()" *ngIf="otp_view">
              <button type="button" class="submit text-white mt-0 mb-0" >Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>