.container {
    max-width: 100%;
}
$inputW: 260px;
$btnH: 36px;
label {
	display: block;
	span {
		text-transform: uppercase;
	}
}
select {
    width: 150px;
	margin-left:15px;
	height: 26px;
	line-height: 26px;
}
.img__btn:after{
	border: none;
}
.sub-cont{
	left: 66%;
}