<div id="wrapper" class="toggled" *ngIf="UI_Info">
    <div class="overlay" style="display:block"></div>
    <!-- Sidebar -->
    <nav class="navbar fixed-top ft">
        <a class="navbar-brand theme" href="#">{{UI_Info.data.name}}</a>
        <i class="fa fa-power-off" (click)="logout()"></i>
    </nav>
    <nav class="navbar navbar-inverse fixed-top mt-5" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav mt-1">

            <app-navigation class="col-sm-12 p-0" [info]=UI_Info ></app-navigation>
        </ul>
    </nav>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <button type="button" class="hamburger animated fadeInLeft is-open" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
        </button>
        <app-form-builder></app-form-builder>
        <app-search-bar [info]=UI_Info></app-search-bar>
        <!-- new dashboard COMPONENET STARTS -->
        <!-- <svg width=”100%” height=”1200" class=”mySvg” (click)=”check($event)” version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"></svg> -->

        <app-display [info]=UI_Info ></app-display>
        <br />
        <app-table [info]=UI_Info ></app-table>
        <br />
        <app-summary [info]=UI_Info ></app-summary>
    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
