<div id="wrapper" class="toggled" *ngIf="UI_Info">
    <div class="overlay" style="display:block"></div>
    <!-- Sidebar -->
    <nav class="navbar fixed-top ft">
        <a class="navbar-brand theme" href="#">{{UI_Info.data.name}}</a>
        <i class="fa fa-power-off" (click)="logout()"></i>
    </nav>
    <nav class="navbar navbar-inverse fixed-top mt-5" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav mt-1">
            <app-navigation class="col-sm-12 p-0" [info]=UI_Info ></app-navigation>
        </ul>
    </nav>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <button type="button" class="hamburger animated fadeInLeft is-open" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
        </button>
        <app-form-builder></app-form-builder>
        <app-search-bar [info]=UI_Info></app-search-bar>
        <!-- new dashboard COMPONENET STARTS -->
        <h6 class="mt-3 p-0 text-left">Dashboard</h6>
        <div class="col-sm-12 p-0 row ml-0 mr-0 mt-1">
            <!-- <div class="d-lg-flex flex-row mb-3 flex-wrap justify-content-center">
                <div class="p-2 m-1 border">Flex item 1 Flex item 1Flex item 1Flex item 1Flex item 1Flex item 1Flex item 1</div>
                <div class="p-2 m-1 border">Flex item 2Flex item 1 Flex item 1Flex item 1Flex item 1Flex it zghxjz<br />xmznxmnz xmzmx zm xzmnx zmnxzmn xmznx zmnx zmnx shash ashash ajsh ajshaj shem 1Flex item 1Flex item 1</div>
                <div class="p-2 m-1 border">Flex item 3Flex item 1 Flex item 1Flex item 1Flex item 1Flex item 1Flex item 1Flex item 1</div>
                <div class="p-2 m-1 border">Flex item 1Flex item 1 Flex item 1Flex item 1Flex item 1Flex item 1Flex item 1Flex item 1</div>
                <div class="p-2 m-1 border">Flex item 2Flex item 1 Flex item 1Flex item 1Flex item 1Flex item 1Flex item 1Flex item 1</div>
                <div class="p-2 m-1 border">Flex item 3Flex item 1 Flex item 1Flex item 1Flex item 1Flex item 1Flex item 1Flex item 1</div>
                <div class="p-2 m-1 border">Flex item 3Flex item 1 Flex item 1Flex item 1Flex item 1Flex item 1Flex item 1Flex item 1</div>
            </div> -->
            <div class="col-sm-3 pl-0 pr-0 d-none">
                <div class="backgroundVisual p-3">
                    <h1 class="text-left mb-0">2,46,700</h1>
                    <h6 class="mb-2">Admin accounts</h6>
                    <div class="col-sm-12 p-0 row m-0">
                        <div class="col-sm-6 pl-0 pr-1">
                            <div class="progress"><!--col-sm-5 -->
                                <div class="progress-bar approved" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6 class="text-success mb-3"><small>Claimed: 25%</small></h6>
                        </div>
                        <div class="col-sm-6 pl-1 pr-0">
                            <div class="progress">
                                <div class="progress-bar failed" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6 class="text-danger mb-0"><small>Unclaimed: 75%</small></h6>
                        </div>
                    </div>
                    
                <!-- <div class="col-sm-5 p-0 progress">
                        <div class="progress-bar failed" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h6 class="text-danger mb-0"><small>Unclaimed: 75%</small></h6> -->
                    <div class="imgg"><img src="../../assets/pic/baby.png" width="100%" height="100%" /></div>
                </div>
            </div>
            <div class="col-sm-3 pr-0 d-none">
                <div class="backgroundVisual p-3">
                    <h1 class="text-left mb-0">5,72,172</h1>
                    <h6 class="mb-2">Master accounts</h6>
                    <div class="col-sm-5 p-0 progress">
                        <div class="progress-bar approved" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h6 class="text-success mb-3"><small>Claimed: 50%</small></h6>
                    <div class="col-sm-5 p-0 progress">
                        <div class="progress-bar failed" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h6 class="text-danger mb-0"><small>Unclaimed: 50%</small></h6>
                </div>
            </div>
            <div class="col-sm-3 pr-0 d-none">
                <div class="backgroundVisual p-3">
                    <h1 class="text-left mb-0">10,08,258</h1>
                    <h6 class="mb-2">Lab accounts</h6>
                    <div class="col-sm-5 p-0 progress">
                        <div class="progress-bar approved" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h6 class="text-success mb-3"><small>Claimed: 100%</small></h6>
                    <div class="col-sm-5 p-0 progress">
                        <div class="progress-bar failed" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h6 class="text-danger mb-0"><small>Unclaimed: 0%</small></h6>
                </div>
            </div>
            <div class="col-sm-3 pr-0 d-none">
                <div class="backgroundVisual p-3">
                    <h1 class="text-left mb-0">7,12,440</h1>
                    <h6 class="mb-2">User accounts</h6>
                    <div class="col-sm-5 p-0 progress">
                        <div class="progress-bar approved" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h6 class="text-success mb-3"><small>Claimed: 75%</small></h6>
                    <div class="col-sm-5 p-0 progress">
                        <div class="progress-bar failed" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h6 class="text-danger mb-0"><small>Unclaimed: 25%</small></h6>
                </div>
            </div>
        </div>
        <br />
        <!---new dashboard COMPONENET ENDS--->
        <app-table [info]=UI_Info ></app-table>
        <br />
        <app-summary [info]=UI_Info ></app-summary>
    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
