.backgroundVisual{
  background: #f7f7f7e0 !important;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    width: 180px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    margin: 20px auto 0;
    background:white !important;
    background-image:linear-gradient(to right,#40dcb2,#40dc7e) !important;
    box-shadow: 0 0 0 0 #37bd83, 0 0 0 0 #40dc98 !important;
    text-transform: uppercase;
    color:white  !important;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    background: #5867c5 !important;
    border-radius: 5px;
    border: none;
    outline: none;
    background: none;
    display: block;

    border-radius:.375rem;
    font-size: 15px;
    cursor: pointer;
    margin: 20px auto 0;
    background:white !important;
    background-image:linear-gradient(to right,#40dcb2,#40dc7e) !important;
    box-shadow: 0 0 0 0 #37bd83, 0 0 0 0 #40dc98 !important;
    text-transform: uppercase;
    color:white  !important;
    // box-shadow: 3px 2px 5px dark-primary($theme-1 - #222);

}
