<!--
The classic file input element we'll enhance to a file pond
-->
<!-- <input type="file" class="filepond" name="filepond" multiple data-max-file-size="3MB" data-max-files="3" /> -->
<!-- file upload itself is disabled in this pen -->
<!-- <file-pond #myPond [options]="pondOptions" [files]="pondFiles" (oninit)="pondHandleInit()" (onaddfile)="pondHandleAddFile($event)"></file-pond>
<div class="sumbmitMultiple">content...</div> -->


<!--Create main div parent-->
<div class="mainUpload">
    <!--header Area only-->
    <nav class="navbar sticky-top QCI-Variant pl-5 pr-5 pt-2 pb-2">
        <div class="col-sm-12 row m-0 p-0">
            <a class="col-2 p-0 navbar-brand text-white m-0" href="#">&#123; Upload &#125;</a>
            <div class="col-8 p-0 textToshow text-white text-center" *ngIf="!isTextToShow">{{textToShowHere}}</div>        
        </div>
    </nav>
    <!--body Area only-->
    <div class="uploadBody">
        <!--Add file row -->
        <div class="addFiles m-5 text-center">
            <input type="file" #file style="display: none" accept=".doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/pdf" (change)="onFilesAdded()" multiple />
            <button class="d-block col-sm-12 p-4 text-muted bg-light" (click)="fileBrowse()">{{fileBrowseText}}</button>
        </div>
        <!--ShowFileNameArea row -->
        <div class="showFileNameArea pl-5 pr-5 pb-5 mb-2" *ngIf="isFilesPresent">
            <div class="col-sm-12 pt-2 pb-2 row ml-0 mr-0 text-primary bg-white">
                <div class="col-2">Sr. no.</div>
                <div class="col-8">File Name</div>
                <!-- <div class="col-2 text-right">Action/s</div> -->
            </div>
            <div class="col-sm-12 row ml-0 mr-0 fileDescRow bg-light" *ngFor="let file of filesArr; let i = index">
                <div class="col-2">{{i+1}}</div>
                <div class="col-8">{{file.name}}</div>
                <!-- <div class="col-2 text-right"><i class="fa fa-window-close bg-light text-dark" aria-hidden="true" (click)="removeFile(i)"></i></div> -->
            </div>
        </div>
        <div class="showFileNameArea p-5 text-center" *ngIf="!isFilesPresent">
            <h1 class="text-muted m-5 p-5">No files added. Please browse!</h1>
        </div>
    </div>

    <!--footer area only-->
    <nav class="navbar fixed-bottom QCI-Variant pl-5 pr-5 pt-2 pb-2" *ngIf="!isUploadActivated">
        <div class="col-sm-12 row m-0">
            <input #text class="col-7 text-dark m-0" type="text" minlength="18" maxlength="18" (change)="onULRAdded()" placeholder="Enter URL Number" />
            <button class="col-4 text-white ml-2 float-right" (click)="upload()">{{fileUploadText}}</button>            
        </div>
        <!-- <a class="navbar-brand text-white" href="#">&#123; Fixed bottom &#125;</a> -->
    </nav>
</div>